:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 800px;
  margin: 16px auto;
  padding: 0 16px;
  background-color: steelblue;
  color: white;
}

body {
  display: block;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  padding: 0;
}

#participants {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#addParticipant {
  grid-column: 1 / 3;
}

.hide {
  display: none;
}
