/* Define CSS variables for colors */
:root {
  --header-bg-color: #133c55ff; /* Light gray for header */
  --footer-bg-color: #84d2f6ff; /* Light gray for footer */
  --grid-item-bg-color: #386fa4ff; /* Darker gray for grid item background */
  --text-color: #000000; /* Black for text */
  --background-color: #ffffff; /* White for main background */
}

/* Hero image styles */
.hero-image {
  width: 100%; /* Full width of the screen */
  height: 300px; /* Fixed height to show only 700px of the image */
  background-image: url("/personal-site/images/gallery-02.png"); /* Replace with your image path */
  background-size: cover; /* Ensures the image scales to cover the area */
  background-position: center top; /* Starts from the top center of the image */
  background-repeat: no-repeat; /* Prevents tiling */
  background-attachment: scroll; /* Scrolls with the page (default behavior) */
}

/* Reset default margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header styles */
header {
  background-color: var(--header-bg-color);
  text-align: center;
}

header h1 {
  color: var(--background-color);
  font-size: 24px;
}

/* Main content styles */
main {
  flex: 1;
  padding: 20px;
}
/* Navigation styles */
nav {
  background-color: var(--footer-bg-color);
  text-align: center;
}

nav {
  background-color: var(--footer-bg-color);
  display: flex; /* Add this */
  justify-content: center; /* Center the links */
}
nav a {
  display: block; /* Change from flex to block */
  text-decoration: none;
  color: var(--header-bg-color);
  font-size: 16px;
  padding: 10px;
}

nav a:hover {
  color: white;
  background-color: var(--header-bg-color);
}

nav a:active {
  color: var(--footer-bg-color);
}

nav.open {
  display: block;
}

.active::before,
.active::after {
  content: " 👀 ";
}
/* Footer styles */

footer {
  background-color: var(--header-bg-color);
  color: var(--footer-bg-color);
  padding: 20px;
  text-align: center;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav a {
    padding: 18px 5vw;
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr; /* 1 column on very small screens */
  }
}
